*.o
*~
*.dic
*.dump
*.elf
*.nm
*.x
*.ip
*.img
*.exe
*.bin
*.zip
*.tgz
*.swp
forth
meta
makebi
makename
dict.h
dicthdr.h
prims.h
userarea.h
vars.h
date.c
version
.DS_Store
cscope.out

.goutputstream-VMWAKZ
